* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

nav {
    background-color: rgb(80, 96, 48);
    color: antiquewhite;
}

.employee-card {
    border: 3px solid black;
    padding: 0;
}

.employee-header {
    background-color: rgb(91, 206, 204);
    color: antiquewhite;
}
